// Scoped to this component only. Prefer PrimeNG theming when available (::ng-deep is deprecated).
:host ::ng-deep .p-iconfield {
  position: relative;
  display: block;
  z-index: 2;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 50px;

  :focus {
    box-shadow: 0px 5px 5px 0 #ccc;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 35px;
    border: none;
    border-radius: 6px;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
  }
}